header{
    background-color: #E9C46A;
    font-family: 'Syne Mono', monospace;
    font-size: 100px;
    text-align: center;
}

.grid-flex{
    background-color: ;
    height: 1400px;
}

aside{
    background-color: #F4A261;

}

button{
    background-color: #264653;
    color: honeydew;
    font-size: 28px;
    font-family: 'Secular One', sans-serif;

}

body{
    background-color: #2A9D8F;
}

.voting-photos{
    display: flex;
    
}

.voting-photos img{

}